{% extends 'templates/base.html' %}
{% block title %}Rci Login{% endblock %}
{% block body %}
    <form id="login-form">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />

        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
        
        <output for="username password" name="login-error"></output>
        <button type="submit">Login</button>
    </form>
{% endblock %}

{% block js %}
    <script src="/js/modules/observable.js" defer="true"></script>
    <script src="/js/modules/databinding.js" defer="true"></script>
    <script src="/js/modules/http.js" defer="true"></script>
    <script src="/js/modules/authentication.js" defer="true"></script>
    <script src="index.js" defer="true"></script>
{% endblock %}
