{% extends 'base.html' %}

{% block title %}Rci Form Login{% endblock %}

{% block css %}<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" /> {% endblock %}

{% block body %}
<header>
    <h1>Rci Form Login</h1>
</header>

<main>    
    <form id="login-form" action="{{ url_for('login.login') }}" method="post">
        <fieldset>
            <legend>Sign In</legend>

            <div>
                <label for="username">Username</label>
                <input id="username" name="username" type="text" value="{{ error.username }}"/>
            </div>

            <div>
                <label for="password">Password</label>
                <input id="password" name="password" type="password" value="{{ error.password }}"/>
            </div>

        </fieldset>
        
        <output for="username password" name="login-error">{{ error.message }}</output>
        <button class="component-button" type="submit">Login</button>
    </form>
</main>
<footer>
</footer>
{% endblock %}
