{% extends 'base.html' %}

{% block title %}Rci Admin Dashboard - {{ g.user.username }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
{% endblock %}

{% block body %}

{% include "header.html" %}

<main>
    <section id="actions-section">
            <a class="reset-link component-picture-link" href="{{ url_for('rci.new') }}">
                <div></div>
                <span>NEW RCI</span>
            </a>
            <a class="reset-link component-picture-link" href="">
                <div></div>
                <span>PREFERENCES</span>
            </a>
    </section>
</main>


{% endblock %}
