{% extends 'base.html' %}

{% block title %}Rci Dashboard - {{ g.user.username }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
{% endblock %}

{% block body %}

{% include "header.html" %}

<main>
    <section id="actions-section">
            <a class="reset-link component-picture-link" href="{{ url_for('rci.new') }}">
                <div></div>
                <span>NEW RCI</span>
            </a>
    </section>
    <section>
        {% for rci in rcis %}
        <a class="reset-link component-rci-card" href="{{ url_for('rci.edit', rci_id=rci.rci_id) }}">
            <span>{{ rci.building_name }} {{ rci.room_name }}</span>
            {# Common Area with multiple collaborators #}
            {% if rci.collaborators|length > 1 %}
            <span>Common Area</span>
            {# Individual Rci with one collaborator #}
            {% else %}
            <span>
                {{ rci.collaborators[0]['firstname'] }} 
                {{ rci.collaborators[0]['lastname'] }}
            </span>
            {% endif %}
            <span>{{ rci.created_at.strftime("%B %d, %Y") }}</span>
        </a>
        {% endfor %}
    </section>
</main>


{% endblock %}
