{% from 'macros/rci_card.html' import rci_card %}

{% extends 'base.html' %}
{% block title %}Rci Dashboard - {{ g.user.username }} {% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}" />
{% endblock %}

{% block body %}

{% include "header.html" %}

<main>
    <section id="actions-section">
            <a class="reset-link component-picture-link" href="{{ url_for('rci.new') }}">
                <div></div>
                <span>NEW RCI</span>
            </a>
            {% if display_search %}
            <a class="reset-link component-picture-link" href="{{ url_for('dashboard.search') }}">
                <div></div>
                <span>SEARCH</span>
            </a>
            {% endif %}
            {% if display_system_settings %}
            <a class="reset-link component-picture-link" href="{{ url_for('settings.system_settings') }}">
                <div></div>
                <span>SYSTEM SETTINGS</span>
            </a>
            {% endif %}

    </section>
    <section>
        {% for rci in rcis %}
        {{ rci_card(rci) }}
        {% endfor %}
    </section>
</main>


{% endblock %}
