{% extends 'templates/base.html' %}
{% block title %}Staff Dashboard{% endblock %}
{% block body %}
    <nav>
        <ul>
            <li id="logout">
                <a href='/'>Logout</a>
            </li>
            <li id="new-rci">
                <a href='/new_rci.html'>Create New Rci</a>
            </li>
        </ul>
    </nav>

    <main>
    </main>

    <template id="building-template">
        <p><a class="building"></a></p>
    </template>
{% endblock %}    
{% block js %}
        <script src="/js/res_life_staff/dashboard.js" defer="true"></script>
{% endblock %}

