{% extends 'templates/base.html' %}
{% block title %}New Rci{% endblock %}
{% block body %}
    <main>
        <form id="new-rci-form">
            <label for="building-select">Select a building:</label>
            <select id="building-select">
            </select>

            <label for="room-select">Select a room:</label>
            <select id="room-select">
            </select>

            <button type="submit">Create New Rci</button>
        </form>

    </main>

    <template id="building-option-template">
        <option class="building-option" value=""></option>
    </template>

    <template id="room-option-template">
        <option class="room-option" value=""></option>
    </template>
{% endblock %}
{% block js %}
    <script src="/js/student/new_rci.js" defer="true"></script>
{% endblock %}
