{% extends 'base.html' %}

{% block body %}
<main>
    <form id="new-rci-form" action="{{ url_for('rcis.new') }}" method="post">
        {# If the user is a student, they can only create an rci for themselves #}
        {% if g.user['role'] == 'student' %}
        <input type="text" name="user_id" hidden value="{{ g.user['user_id'] }}"/>

        {# staff and admin can create rcis for others #}
        {% else %}
        <label for"user">User:</label>
        <select id="user" name="user_id">
            {% for user in users %}
            <option value="{{ user.user_id }}">{{ user.username }}</option>
            {% endfor %}
        </select>
        {% endif %}

        <label for="room">Select Room:</label>
        <select id="room" name="room">
            {% for building in building_manifest.keys() %}
            <optgroup label="{{ building }}">
                {% for room in building_manifest[building] %}
                <option value="{{room.building_name}}||{{room.room_name}}">
                {{ room.building_name}} - {{ room.room_name }}
                </option>
                {% endfor %}
            </optgroup>
            {% endfor %}
        </select>

        <button type="submit">Create</button>
    </form>
</main>

{% endblock %}
