{% extends 'base.html' %}

{% block title %}Rci Form{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
{% include "header.html" %}

<main>
    <section id="actions">
        <a class="reset-link component-button"
            href="{{ url_for('damage.new', rci_id=rci.rci_id, user_id=g.user['user_id']) }}">
            +New Damage
        </a>
    </section>
    {{ rci }}
    <section>
        {%if rci.damages|length == 0 %}
        <p>No damages recorded.</p>
        {% else %}
        {% for damage in rci.damages %}
        <p> {{ damage }} </p>
        {% endfor %}
        {% endif %}
    </section>
</main>
{% endblock %}
