<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}" /> 
    <link rel="stylesheet" href="{{ url_for('static', filename='site.css')  }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='main-header.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='components.css') }}" />
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
    {% block js %}{% endblock %}
</body>
</html>

