/* Button */
.component-button {
    border: 1px solid rgba(0,0,0,0.5);
    color: inherit;
    display: block;
    font-size: 1.1em;
    padding: 5px 25px;
    text-decoration: none;
    text-decoration-line: none;
}

/* Picture Links */
.component-picture-link {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 70px;
    justify-content: flex-start;
    margin: 25px 10px;
}

.component-picture-link > div {
    border: 1px solid black;
    height: 100%;
    width: 70px;
}

.component-picture-link > span {
    display: block;
    font-size: 1.2em;
    margin-left: 15px;
}

/* Rci Cards */
.component-rci-card {
    box-shadow: 0 0 10px 0 #ddd;
    margin: 25px 10px;
    max-width: 500px;
    padding: 10px;
}

.component-rci-card > span {
    display: block;
}

.component-rci-card > span:nth-child(1) { /* Room */
    font-size: 1.3em;
    font-weight: 700;
}

.component-rci-card > span:nth-child(2) { /* Name */
    font-size: 1.1em;
}

.component-rci-card > span:nth-child(3) { /* Creation date */
    font-size: 0.8em;
}
