header {
    display: flex;
    flex-direction: column;
    height: 20%;
    justify-content: center;
    align-items: center;
}

main {
    height: 60%;
    margin: 0 auto;
    padding: 10px 10px;
    text-align: left;
    width: 80%;
}

fieldset {
    border: none;
}

legend {
    font-weight: 600;
}

label {
    display: block;
}

footer {
    height: 20%;
}

.username,
.password {
    border: 1px solid;
    border-radius: 0px;
}

