* { 
    box-sizing: border-box;
}

html, body {
    border: 0;
    margin: 0;
    overflow-x: hidden;
}

div, span, 
h1, h2, h3, h4, h5, h6, blockquote, pre,
a, img, hr, 
fieldset, form, label, legend,
article, aside, footer, header, 
menu, nav, output, section, {
	border: 0;
	font-size: 100%;
	margin: 0;
        padding: 0;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}



.reset-link
{
    display: inline-block;
    text-decoration: none;
}

.reset-link,
.reset-link:link,
.reset-link:visited,
.reset-link:active {
    color:inherit;
}

