<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block body %}{% endblock %}
    <script src="/js/modules/observable.js" defer="true"></script>
    <script src="/js/modules/databinding.js" defer="true"></script>
    <script src="/js/modules/http.js" defer="true"></script>
    <script src="/js/modules/authentication.js" defer="true"></script>
    {% block js %}{% endblock %}
</body>
</html>

